{% extends 'layout/base.html' %}

{% block title %}
    Uye Girisi
{% endblock %}

{% block top %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Uye Girisi</h1>
            <p>Hos geldiniz,  asagidaki formu kullanarak giris yapabilirsiniz..</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">GIRIS</button>
    </form>
{% endblock %}