{% extends 'project/layout/base.html' %}

{% block title %}
    Sifre Degistir
{% endblock %}

{% block top %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Sifre Degistir</h1>
            <p>Merhaba {{ user.username }}, asagidaki form u kullanarak sifrenizi degistirebilirsiniz.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sifre Degistir</button>
    </form>
{% endblock %}
