{% extends 'project/layout/base.html' %}

{% block title %}
    Sifre Sifirlama
{% endblock %}

{% block top %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Sifre Sifirlama</h1>
            <p>Sifre sifirlama email i gonderildi...</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    email adresinize sifrenizi degistirmek icin gerekli talimatlar gonderilmistir.
    <br><br>
    eger sifirlama email i almadiysaniz adresin dogru yazildigini veya spam klasorunu kontrol ediniz.
{% endblock %}