{% extends 'layout/base.html' %}

{% block title %}
    Sifre Sifirlama
{% endblock %}

{% block top %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Sifre Sifirlama</h1>
            <p>Merhaba, asagidaki form u kullanarak sifrenizi olusturabilirsiniz..</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sifre Olustur</button>
    </form>
{% endblock %}