{% extends 'layout/base.html' %}

{% block title %}
    Sifre Sifirlama
{% endblock %}

{% block top %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Sifre Sifirlama</h1>
            <p>Merhaba, asagidaki form u kullanarak sifrenizi sifirlayabilirsiniz.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Sifre sifirlama icin cikis yapilmasi gerekmektedir.
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sifre Sifirla</button>
        </form>
    {% endif %}
{% endblock %}